absl-py==2.1.0
amqp==5.2.0
kombu==5.3.5
numpy==1.26.3
setuptools==68.2.2
vine==5.1.0
wheel==0.41.2
adafruit-circuitpython-icm20x #gyroscope
adafruit-circuitpython-bme280 #environment sensors (temperature,humidity, pressure)
adafruit-circuitpython-sgp40 # air sensor
adafruit-circuitpython-ltr390 # uv
adafruit-circuitpython-ltr390 # infrafed 
micropython-machine # micropython machine
RPi.GPIO
