absl-py
amqp
kombu
numpy
setuptools
vine
wheel
pandas
opencv-python
adafruit-circuitpython-icm20x #gyroscope
adafruit-circuitpython-bme280 #environment sensors (temperature,humidity, pressure)
adafruit-circuitpython-sgp40 # air sensor
adafruit-circuitpython-ltr390 # uv
adafruit-circuitpython-ltr390 # infrafed 
#micropython-machine # micropython machine
#RPi.GPIO
